---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

// Colors
$gray: #7a8288 !default;
$dark-gray: mix(#000, $gray, 50%) !default;
$darker-gray: mix(#000, $gray, 60%) !default;
$light-gray: mix(#fff, $gray, 50%) !default;
$lighter-gray: mix(#fff, $gray, 90%) !default;

$text-color: $dark-gray !default;
$text-color-dark: #eaeaea !default;

// Theme map & mixin
// TODO: Offload to separate scss file!
// Credit for the code idea goes to: https://medium.com/@katiemctigue/how-to-create-a-dark-mode-in-sass-609f131a3995
$themes: (
    light: (
        progress-bar-background-color: #fafafa,
        progress-bar-box-shadow-start: mix(#fff, $light-gray, 50%),
        progress-bar-box-shadow-end: #fafafa,
        progress-bar-inner-background-color: rgb(61, 165, 197),
        progress-bar-inner-box-shadow: #fff,
        progress-bar-text-color: $lighter-gray,

        // SVG diagram colors
        stroke-color: $text-color
    ),
    dark: (
        progress-bar-background-color: #1a1a1a,
        progress-bar-box-shadow-start: #000,
        progress-bar-box-shadow-end: #444,
        progress-bar-inner-background-color: rgba(255, 255, 255, .5),
        progress-bar-inner-box-shadow: rgba(255, 255, 255, .5),
        progress-bar-text-color: #eaeaea,

        // SVG diagram colors
        stroke-color: $text-color-dark
    ),
);

// Credit for the code idea goes to: https://medium.com/@katiemctigue/how-to-create-a-dark-mode-in-sass-609f131a3995
@mixin themed() {
  @each $theme, $map in $themes {
    .theme--#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), '#{$key}');
        $theme-map: map-merge($theme-map, ($key: $value)) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

// Credit for the code idea goes to: https://medium.com/@katiemctigue/how-to-create-a-dark-mode-in-sass-609f131a3995
@function t($key) {
  @return map-get($theme-map, $key);
}

// This is the progress bar background
.progress-bar {
    height: 25px;
    padding: 0px;
    width: 350px;
    margin: 10px 0;         
    border-radius: 25px;
    
    @include themed() {
        background-color: t('progress-bar-background-color');
        box-shadow: 0 1px 5px t('progress-bar-box-shadow-start') inset, 0 1px 0 t('progress-bar-box-shadow-end');
    }
}

// This is the progress bar element
.progress-bar-inner {
    display: inline-block;
    height: 100%;
    font-size: 100%;
    border-radius: 20px;
    transition: width .4s ease-in-out;
    vertical-align: top;

    @include themed() {
        background-color: t('progress-bar-inner-background-color');
        box-shadow:  0 1px 0 t('progress-bar-inner-box-shadow') inset;
    }
}

// This is the inner text of the progress bar
// FIXME: How to properly center this?
.progress-bar-inner span {
    display: inline-block;
    height: 100%;
    font-size: 20px;
    vertical-align: top;
    padding-left: 10px;
    padding-bottom: 10px;
    word-wrap: break-word;

    @include themed() {
        color: t('progress-bar-text-color');
    }
}

.td-like-ol td {
  border: none;
  padding: 0px;
  padding-right: 11px;
  padding-bottom: 11px;
  padding-left: 18px;
  font-size: 22px;
  line-height: 1.5;
}

.adaptive-svg path, .adaptive-svg div, .adaptive-svg path, .adaptive-svg text, .adaptive-svg-rect {
  @include themed() {
    stroke: t('stroke-color');
    color: t('stroke-color');
  }
}